<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApp2.Properties.Settings.LanguageLearningApplicationConnectionString"
            connectionString="Data Source=DESKTOP-HF7U2R2;Initial Catalog=LanguageLearningApplication;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>